<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4" *ngFor="let game of games; let index=index">
          <button [class]="checkWinnerButtonClass(index)" (click)="setMark(index)">{{game}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mx-2">
        <h2 *ngIf="result == '' " class="alert alert-warning">Sıradaki: {{next}} </h2>
        <h2 *ngIf="result != '' " [class]=" ">Sonuç:{{result}}</h2>
        <div style="margin-top: 597px;">
          <button class="btn btn-danger w-100" style="height: 80px; font-size: 2rem;" (click)="newGame()"> Yeni Oyun</button>
        </div>
      </div>
    </div>
  </div>
</div>